{% extends "::base.html.twig" %}
{% block meta %}
    <meta name="description" content="Vous trouverez ici, la Liste des cours, des résumés et des exercices corrigées" />
{% endblock %}
{% block title %}{{ parent() }} | Cours{% endblock %}
{% block body %}
    <div class="irs-header-topped">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9 clearfix">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 irs-padl-zero irs-pl-fftn" style="float: right;">
                            <div class="irs-welcm-ht">
                                <p class="irs-welcntxt"><i class="fa fa-phone"></i> Plus de question? Contactez nous <strong>
                                        (+216) 20965188 </strong></p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4"style="float: right;">
                            <div class="irs-welcm-ht">
                                <p class="irs-welcntxt"><i class="fa fa-map-marker"></i> Bassem Hezzi Bab khadhra Tunis, Tunisie</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 clearfix">
                    <div class="irs-log-reg">
                        {#<ul class="list-inline">
                            <li><a href="#">
                                    <div data-toggle="modal" data-target=".bs-example-modal-lg"
                                         data-whatever="@mdo">Login
                                    </div>
                                </a>
                                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title text-center" id="exampleModalLabel">Login or
                                                    Register</h4>
                                                <p class="irs-sign-reg-para text-center">Sign in or register today
                                                    in oorder to have access to all our courses or purchase new
                                                    ones.</p>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <form class="irs-login-form">
                                                            <h3>Login <span class="flaticon-padlock"></span></h3>
                                                            <p>Enter username and password to login:</p>
                                                            <div class="form-group">
                                                                <input type="email" class="form-control" id="email"
                                                                       placeholder="Email">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="password" class="form-control"
                                                                       placeholder="Password">
                                                            </div>
                                                            <button type="submit"
                                                                    class="btn btn-default irs-button-styledark">
                                                                Login to account
                                                            </button>
                                                        </form>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <form class="irs-reg-form">
                                                            <h3>Register <span class="flaticon-key"></span></h3>
                                                            <p>Join our community today:</p>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control"
                                                                       id="exampleInputNamex"
                                                                       placeholder="First Name">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control"
                                                                       id="exampleInputNamexx"
                                                                       placeholder="Last Name">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="email" class="form-control"
                                                                       id="exampleInputEmailx" placeholder="Email">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="password" class="form-control"
                                                                       placeholder="Password">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="password" class="form-control"
                                                                       placeholder="Repeat password">
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <button type="submit"
                                                                        class="btn btn-default irs-button-styledark">
                                                                    Sign Me Up
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- modal footer start here-->
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="#">.</a></li>
                            <li class="irs-reg"><a href="#">Register</a></li>
                            <li class="irs-search">
                                <div class="input-group"> <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span>
                                    <input type="text" class="form-control" placeholder="Search...">
                                </div>
                                <!-- /input-group -->
                            </li>
                        </ul>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav style2">
        <div class="main-header-nav scrollingto-fixed style2">
            <div class="container">
                <nav class="navbar navbar-default bootsnav irs-menu-style-two yellow">
                    <div class="container irs-pad-zero">
                        <!-- Start Header Navigation -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="fa fa-bars"></i> </button>
                            <a class="navbar-brand" href="#brand"><img src="{{ asset('frontend/assets/images/header-logo-l2.png') }}" class="logo" alt="header-logo-l2.png"></a>
                        </div>
                        <!-- End Header Navigation -->

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbar-menu">
                            <ul class="nav navbar-nav navbar-center">
                                <li class=""> <a href="{{ path('svt_bassem_homepage') }}" class="">Accueil</a>
                                </li>
                                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sections</a>
                                    <ul class="dropdown-menu">
                                        {% for section in sections %}
                                            <li><a href="{{ path('svt_bassem_classe', {'id': section.id}) }}">{{ section.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>

                                <li class="dropdown"> <a href="{{ path('svt_bassem_contact') }}">Contact</a></li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <section class="irs-ip-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <h1 class="irs-bc-title">Cours</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="irs-ip-brdcrumb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left irs-bb-left">
                    <ul class="list-inline irs-brdcrmb">
                        <li><a href="#">Cours</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container marketing cours">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <h2 class="text-center">Classe : <strong>{{ classe.name }}</strong></h2>
            <h2 class="text-center">Section : <strong>{{ section.name }}</strong></h2>
            <h2 class="text-center">Thème : <strong>{{ module.moduleeName }}</strong></h2>
            <br/>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Catégorie</th>
                    <th>Titre de document</th>
                    <th>Auteur</th>
                    <th>Description</th>
                    <th>Date de création</th>
                    <th>Téléchargement</th>
                </tr>
                </thead>
                <tbody>
                {% for cour in cours %}
                    <tr>
                        <td>

                                <i class="fa fa-book fa"></i>


                        </td>
                        <td>{{ cour.category.nameCategory }}</td>
                        <td>{{ cour.nomCours }}</td>
                        <td>{{ cour.autheurCours }}</td>
                        <td>{{ cour.descriptionCours }}</td>
                        <td>{{ cour.dateCreationCours|date('d/m/Y') }}</td>
                        <td><a href="{{ asset('pdfs/'~cour.pdfUrlCours) }}">{{ cour.pdfUrlCours }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><br/></div>
{% endblock %}