{% extends '::layoutAdmin.html.twig' %}
{% block stylesheetJavascript %}
    <script src="{{ asset('js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace( 'editor1' );
    </script>
{% endblock %}
{% block body %}
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<section id="content">

    <div class="page page-forms-wizard">

        <div class="pageheader">

            <h2>Gestion des cours <span>// ajout modification et suppression des sections</span></h2>

            <div class="page-bar">

                <ul class="page-breadcrumb">
                    <li>
                        <a href="index.html"><i class="fa fa-home"></i> Svt Bassem</a>
                    </li>
                </ul>

            </div>

        </div>
        <section class="tile">
            <div class="row" style="padding: 15px;">
                <div class="col-lg-12">
                    <h2 class="text-center">Administration : <strong>Détail du cours</strong></h2>
                    <br/>
    <h1>Listecour</h1>

    <table class="table-responsive table-bordered table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ listeCour.id }}</td>
            </tr>
            <tr>
                <th>Nomcours</th>
                <td>{{ listeCour.nomCours }}</td>
            </tr>
            <tr>
                <th>Descriptioncours</th>
                <td>{{ listeCour.descriptionCours }}</td>
            </tr>
            <tr>
                <th>Contenucours</th>
                <td>{{ listeCour.contenuCours }}</td>
            </tr>
            <tr>
                <th>Datecreationcours</th>
                <td>{% if listeCour.dateCreationCours %}{{ listeCour.dateCreationCours|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Autheurcours</th>
                <td>{{ listeCour.autheurCours }}</td>
            </tr>
            <tr>
                <th>Imgurlcours</th>
                <td>{{ listeCour.imgCours }}</td>
            </tr>
            <tr>
                <th>Pdfurlcours</th>
                <td>{{ listeCour.pdfUrlCours }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('listecours_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('listecours_edit', { 'id': listeCour.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul></div></div></section></div></section>
{% endblock %}
